.background {
  background: rgb(254, 209, 86);
}

p {
  color: rgb(2, 27, 167);
}
.banner {
  width: 100%;
  margin-bottom: 0.5em;
}
/* Make it a marquee */
.marquee {
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  font-family: monospace;
  mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 15%,
    black 85%,
    transparent 100%
  );
}

.marquee span {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 60s linear infinite;
}

/* Make it move */
@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

/* || scrollbar */
::-webkit-scrollbar {
  width: 0em;
  height: 1em;
}

/* || images */
.documentation {
  max-width: 98%;
  max-height: 70vh;
  margin-left: 0.2em;
  margin-right: 0.5em;
  overflow-x: auto;
  border: 1px solid black;
}

/* || audio */
audio::-webkit-media-controls-panel {
  background-color: white;
  border-radius: 0%;
}
audio::-webkit-media-controls-play-button {
  background-color: white;
  border-radius: 0%;
}
audio::-webkit-media-controls-timeline {
  background-color: white;
  border-radius: 0;
  margin-left: 10px;
  margin-right: 10px;
}
.audiotitle {
  font-family: sans-serif;
  margin-top: 1em;
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 0.8em;
  font-style: oblique;
  font-weight: bolder;
}

/* || header*/
.header {
  padding-top: 0.5em;
  order: 0;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  color: rgb(2, 27, 167);
  padding-left: 1em;
  padding-right: 1em;
}

/* || projects */

.projects {
  order: 1;
  max-width: 55%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

details {
  border: 1px solid #0d7f00;
  padding: 0.5em 0.5em 0;
  margin: 0.75em;
  width: fit-content;
}

summary {
  font-family: sans-serif;
  font-weight: bold;
  color: rgb(2, 27, 167);
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

summary:hover {
  background: rgb(255, 255, 255);
}

details[open] {
  padding: 0.5em;
  width: fit-content;
  background: rgb(255, 255, 255);
}

details[open] summary {
  margin-bottom: 0.5em;
  background: rgb(255, 255, 255);
  border-bottom: solid #0d7f00 1px;
}

/* || footer*/
.footer {
  order: 3;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
}

/* || responsive formatting */
@media (max-width: 700px) {
  .header {
    order: 0;
    width: 90%;
  }
  .projects {
    order: 1;
    min-width: 100%;
  }
  .footer {
    order: 3;
    width: 90%;
  }
}
